.Container {
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 2rem;
}

.CartViewerContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 0px black;
    display: flex;
    height: 14rem;
    padding: 0.5rem 1rem .5rem 1rem;
}

.CartViewerContainer img {
    width: auto;
    height: 100%;
}

.InfoContainer {
    padding: 0 1.5rem 0 1.5rem;
    width: 100%;
    height: 100%;
}

.InfoContainer h1,
.InfoContainer p {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.InfoContainer p {
    text-align: justify;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.QuantityContainers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.QuantityControl {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    width: 10rem;
    justify-content: space-between;
    border-radius: 50px;
}

.QuantityControl h1 {
    margin: 0;
    font-size: x-large;
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.Minus,
.Plus {
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.Minus:hover,
.Plus:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.Minus {
    border-radius: 50px 0 0 50px;

}

.Plus {
    border-radius: 0 50px 50px 0;

}

.Trash {
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.Controls {
    min-width: 13rem;
}


.Disabled {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: rgb(105, 105, 105);
    background: linear-gradient(to right, rgb(105, 105, 105) 0%, rgb(157, 157, 157) 50%, rgb(105, 105, 105) 100%);
    background-size: 1000px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 1000px 0
    }
}

.Monetary h1,
.Monetary h4,
.Monetary h5 {
    margin: 0;
    padding: 0;
}

.Monetary h5 {
    text-decoration: line-through;
}

.Monetary h3 {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

.Result {
    background-color: white;
    box-shadow: 0 0 15px 0px black;
    display: flex;
    height: 5rem;
    justify-content: space-between;
}

.Result button {
    border: none;
    width: 15rem;
    height: 5rem;
    font-size: x-large;
    font-weight: bolder;
}

.Result button:hover {
    background-color: rgb(199, 199, 199);
}

.Result h2{
    padding-left: 4rem;
}