.Container {
    display: block;
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
}

.CartViewerContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 15px 0px black;
    display: flex;
    width: 75rem;
    height: 15rem;
    padding: 1rem 2rem 1rem 2rem;
}

.CartViewerContainer img {
    width: auto;
    height: 100%;
}

.InfoContainer {
    background-color: red;
    padding-left: 3rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.QuantityControl {
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
}