/* LIMITAR CONFIGURAÇÕES VISUAIS ATUAIS PARA ATUAREM APENAS ME 720p OU ACIMA */
.Header {
	display: flex;
	flex-direction: column;
	background-color: darkgrey;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 10rem;
}

.LogoA {
	align-self: center;
}

.LogoIcon {
	display: block;
	align-self: center;
	height: 7rem;
}

.SearchContainer {
	display: flex;
	margin-right: 5vw;
	margin-left: 5vw;
}

.SearchInput {
	width: 30vw;
	height: 2.5rem;
	align-self: center;
	margin-right: 0.5vw;
	border-radius: 10px;
	border-style: none;

}

.SearchBtn {
	background-color: lightgray;
	display: block;
	width: 5rem;
	height: 2.5rem;
	align-self: center;
	margin-left: 0.5vw;
	border-radius: 10px;
	border-style: none;

}

.SearchBtn:hover {
	background-color: rgb(199, 199, 199);
}

.UpperSideHeader {
	display: flex;
	min-width: 100vw;
	max-width: 100vw;

	height: 7rem;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.NavBar {
	display: flex;
	min-width: 100%;

}

.NavBarTr {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	min-width: 100%;
	flex-direction: row;
	height: 3rem;
}

.NavBarUl {
	display: flex;
	width: 100%;
	padding: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: rgb(153, 153, 153);
}

.NavBarUl:hover {

	background-color: rgb(128, 128, 128);
}