.ProductCase {
    border: 1px solid grey;
    width: 15rem;
    height: 20.45rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.ProductCase:hover {
    width: 15rem;
    height: 20.45rem;
    box-shadow: 0 4px 10px 1px rgba(140, 140, 140, 1);
}

.ProductImage {
    width: 10.3rem;
    height: 10.3rem;
    min-height: 10.25rem;
    min-width: 10.25rem;
}

.ProductName {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 600;
    margin-top: 1rem;
    min-height: 1.2rem;

}

.ProductPromotion {
    margin-top: 1rem;
    padding-left: 3.35rem;
    text-align: left;
    min-height: 1.5rem;

}

.ProductPrice {
    min-height: 2.125rem;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 700;
}

.ProductBuyButton {
    background-color: darkgrey;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 700;
    height: 3rem;
    border-radius: 0px 0px 9px 9px;
}

.ProductRollCase {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2vw;
}